/* Основные параметры */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --font-header-footer: #2f303a;
  --white-color-text: #ffffff;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

/* Сброс стилей */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* max-width: 1600px; */
}

/* HEADER */
 header .container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-list {
  display: flex;
  align-items: center;
}
.nav-list-studio {
 margin-left: 90px;
}
.border-header {
  border-bottom: 1px solid #ececec;
}

/* Оформление логотипа */
.zero-logo {
  text-decoration: none;
  /* padding-left: 215px; */
}

.blue-web {
  color: #2196f3;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.black-studio {
  color: #000000;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.white-studio {
  color: var(--white-color-text);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo :hover,
:focus,
:active {
  color: #2196f3;
  outline: 0;
  outline-offset: 0;
  text-decoration: none;
}

/* Навигация */
.text-nav {
  color: var(--primary-text-color);
  margin-left: 50px;
}

.nav-switch :hover,
.nav-switch :focus {
  color: #2196f3;
  outline: 0;
  outline-offset: 0;
  text-decoration: none;
}

.nav-switch {
  text-decoration: none;
}

.nav {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* Подстветка */
.nav :hover,
.nav :focus {
  color: #2196f3;
  outline: 0;
  outline-offset: 0;
}

/* Контакты */
.contact-up :hover,
.contact-up :focus {
  color: #2196f3;
  outline: 0;
  outline-offset: 0;
}

.contact-up {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-left: 50px;
}
.contact-list {
display: flex;
 margin-left: 220px;
}
.light {
  color: #2196f3;
}

.title-section,
.nav,
.footer,
.projects,
.facilities,
.contact-up,
.images {
  list-style: none;
}

/* Общие значения для секций */
 .section {
  padding-top: 94px;
  padding-bottom: 94px; 
} 

/* Секция 1 */
.section-hero {
padding-top: 200px;
padding-bottom: 200px;
}
.sersive {
  background-color: #2f303a;
}

.sersive-title {
  color: var(--white-color-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* Оформление кнопки */
.button {
  color: var(--white-color-text);
  background-color: #2196f3;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
}

/* HIDDEN TITLE */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Секция 2 - Facilities */
.facilities-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-facilities {
  padding-top: 94px; 
}
.facilities {
  justify-content: space-between;
  /* padding-left: 180px;
  padding-right: 180px; */
}
.facilities-list {
  width: 270px;
}
.about-facilities {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Секция 3 */
.title-section {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

/* Секция 4 - workers */
.workers {
  background: #f5f4fa;
  list-style: none;
}

.workers-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* .image-list:not(last-child) {
    margin-left: 50px;
} */

.name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
}

/* Оформление подвала */
.footer {
  background-color: #2f303a;
  font-style: normal;
  padding-top: 60px;
  padding-bottom: 20px;
}
.footer-item {
  margin-bottom: 10px;
}
/* .footer-logo {
  padding-left: 216px;
} */

.footer-list {
  /* padding-left: 216px; */
  margin-bottom: 10px;
  /* margin-top: 20px; */
}
.container .footer-logo {
  margin-bottom: -50px;
}
.address {
  color: var(--white-color-text);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.contact-down {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

/* Оформление стилей Портфолио */

.button-switch:hover,
.button-switch:focus {
  color: var(--white-color-text);
  background-color: #2196f3;
  border: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.switch {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-family: 'Roboto';
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  height: 38px;
  padding: 19px;
  
}

.portfolio-button {
display: flex;
justify-content: center;
text-align: center;
margin-bottom: 50px;
}
 .button-possition {
  margin-right: 8px;
  text-align: center;
}
.button-possition:not(:last-child) {
  margin-right: 8px;
}

.projects-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.about-project {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-text-color);
  line-height: 1.88;
}

.border-portfolio {
  border: 1px solid #eeeeee;
  text-align: left;
  padding: 20px 20px 20px 24px;
}

.flex {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-basis: 1200 px;
}

.image-list {
  margin-left: 30px;
}

/* UL */
.projects {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  width: 1200px; 
  justify-content: center;
}

/* LI */
.project-item {
  width: 370px;
  margin-left: 30px;
  margin-bottom: 30px;
}

/* .project-item:not(:last-child) {
    margin-right: 30;
} */
.border-workers {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: 270px;
  text-align: center;
  padding: 30px 30px 30px 30px;
}
